@charset "UTF-8";
html,
body,
ul, li,
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.value,
.values {
  color: black;
}

.m2::after {
  content: " m2";
}

.arrow-down::after {
  content: "▼";
}

.ellipse {
  letter-spacing: 0.3em;
}

main {
  display: inline-block;
  font: 16px "Helvetica";
  color: #8a8a8a;
  padding: 20px;
}
main h3 {
  font-weight: bold;
  padding-bottom: 10px;
}
main #deal {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid lightgray;
  padding: 10px;
}
main #deal h4 {
  font-weight: normal;
  padding-top: 10px;
}
main #deal h4:first-child {
  padding-top: 0;
}
main #deal #partners-lines .partner-line {
  margin-bottom: 5px;
}
main #deal #partners-lines .partner-line .name,
main #deal #partners-lines .partner-line .phone,
main #deal #partners-lines .partner-line .add {
  border: 1px solid lightgray;
  line-height: 2em;
  padding: 0px 5px;
  margin-right: 5px;
}
main #deal #partners-lines .partner-line .add {
  border-color: black;
  background: white;
}
main #deal #partners-lines .partner-line .error {
  border-color: #cd2b2b;
}
main #deal #partners-lines .partner-line:last-child {
  margin-bottom: 0;
}
main #deal #apartments {
  border: 1px solid lightgray;
  height: 2em;
  align-self: flex-start;
}
main #deal #object-number-axes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #deal #object-number-axes h4 {
  font-weight: normal;
  padding-top: 10px;
  margin-right: 10px;
}
main #deal #description-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 5px;
}
main #deal #description-area .living,
main #deal #description-area .non-living,
main #deal #description-area .lowered {
  display: flex;
  flex-direction: column;
}
main #deal #description-area .living .header,
main #deal #description-area .non-living .header,
main #deal #description-area .lowered .header {
  width: 12em;
  padding: 5px;
  background: #e4e4e4;
}
main #deal #description-area .living .name-ellipse-value,
main #deal #description-area .non-living .name-ellipse-value,
main #deal #description-area .lowered .name-ellipse-value {
  display: flex;
  flex-direction: row;
}
main #deal #description-area .living .name-ellipse-value .names,
main #deal #description-area .living .name-ellipse-value .ellipses,
main #deal #description-area .living .name-ellipse-value .values,
main #deal #description-area .non-living .name-ellipse-value .names,
main #deal #description-area .non-living .name-ellipse-value .ellipses,
main #deal #description-area .non-living .name-ellipse-value .values,
main #deal #description-area .lowered .name-ellipse-value .names,
main #deal #description-area .lowered .name-ellipse-value .ellipses,
main #deal #description-area .lowered .name-ellipse-value .values {
  display: flex;
  flex-direction: column;
}
main #deal #description-area .living .name-ellipse-value .names span,
main #deal #description-area .living .name-ellipse-value .ellipses span,
main #deal #description-area .living .name-ellipse-value .values span,
main #deal #description-area .non-living .name-ellipse-value .names span,
main #deal #description-area .non-living .name-ellipse-value .ellipses span,
main #deal #description-area .non-living .name-ellipse-value .values span,
main #deal #description-area .lowered .name-ellipse-value .names span,
main #deal #description-area .lowered .name-ellipse-value .ellipses span,
main #deal #description-area .lowered .name-ellipse-value .values span {
  padding: 5px;
  padding-bottom: 0;
}
main .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}
main .buttons button {
  margin-bottom: 5px;
}

/*# sourceMappingURL=main.css.map */
